@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');


/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body{
    height:100vh;
    display:flex ;
    align-items: center;
    justify-content: center;
    background-color:rgb(255, 149, 218) ;
}

.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    overflow: hidden;
    margin: 0 20px;
}

.container .forms {
    display: flex;
    align-items: center;
    height: 600px;
    width: 200%;
    transition: height 0.2s case;
}

.container .form{
    width: 50%;
    padding: 30px;
    background-color: white;
    transition: margin-left 0.1s case;
}

.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .input-feild{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-feild input{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid rgb(149, 28, 255);
    border-top: 2px solid transparent;
    transition: all 0.2s case;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #4070F4;
}

.input-feild i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(52, 48, 255);
    font-size: 23px;
    transition: all 0.2s case;
    left: 0px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px -2px;
    accent-color: grey;
}

.form .text{
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
}

.form a.text{
    text-decoration: none;
    color: rgb(0, 195, 255);
}

.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: darkcyan;
    cursor: painter;
    transition: all 0.3s case;
}

.button input:hover{
    background-color: gold;
}

.login-signup{
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}